<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='style1.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>

         {% for user in userDetails %}
   <h1>{{lname}}</h1>
   <h1>{{msg}}</h1>
   <h1>{{user[0]}}</h1>
   <h1 >{{user[1]}}</h1>
   <h1>{{user[2]}}</h1>

         {% endfor %}

<br>

        <div>
            <img src="{{ img_data }}" alt="USER">
        </div>
         <h1>Person found at Address:{{loc}}</h1>
         <h1>{{locname}}</h1>

			<form action="{{ url_for('pro')}}" >

                <input type="submit" value="LOG OUT" >

			</form>
</body>
</html>